/*聊天窗口样式*/
.chat{
	display:none;
	width: 500px;
	height: 450px;
	left:400px;
	top: 200px;
    margin: 0 auto;
	box-shadow: 10px 10px 55px #777;
	border-radius: 3px;
	background-color: #F0FFFF;
	z-index: auto;	
	position: absolute;
}
/*用户名*/
.name {
	background: #6fc8e6;
	height: 28px;
	color: #323232;
	line-height: 25px;
	font-size: 13px;
	padding: 0 10px;
	overflow:hidden;
	border-radius: 3px;	
	cursor: move;
	
}
/*用户名中关闭按钮标签*/
.name a{
	cursor:default;
}
/*会话区*/
.chatContent{
	height: 300px;
	width: 498px;
	border: 1px solid silver;
	overflow-y: scroll;
	background-color: #FFFFFF;
}
/*输入框*/
#sendMsg{
	width:495px;
	background: #fff;
	position: absolute;
	resize: none;
	outline:none;
	border-radius: 3px;	
	border: none;/*去除默认边框*/
}
/*发送按钮*/
#send{
	width: 50px;
	height: 25px;
	margin-left: 440px;
	margin-top:76px;
	line-height: 25px;
	border-radius: 6px;
	background-color:#6fc8e6;
	border-left: 0px;/*去边框*/
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
}	
.username{
	float:left;
    line-height: 28px;
}
.name img{
	margin-top: 8px;
}
.ema{
	left: 5px;
	position: absolute;
}
.username{
	margin-top: 2px;
	margin-left: 14px;
	position: relative;
	}
/*聊天内容样式 */
.chatter_msg_item {
	position: relative;
	margin: 5px 0 8px 0;
	padding: 8px 10px;
	max-width: 60%;
	display: inline-block; /* 控制换行 */
	clear: both; /*清除样式  */
	background-color: #c6eaf3;
}
/* 聊天内容小三角样式 */
.chatter_msg_item .chatter_avatar {
	position: absolute;
	top: 0;
}
/* 用户会话样式 */
.chatter_msg_item.chatter_msg_item_admin .chatter_avatar {
	left: -45px;
}
/* 医生会话样式 */
.chatter_msg_item.chatter_msg_item_user .chatter_avatar {
	right: -45px;
}
/* 头像样式 */
.chatter_msg_item .chatter_avatar img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
/* 用户会话样式 */
.chatter_msg_item.chatter_msg_item_admin {
	margin-left: 60px;
	float: left;
	border-radius: 8px;
	background-color: bisque;
}
/* 医生会话样式 */
.chatter_msg_item.chatter_msg_item_user {
	margin-right: 60px;
	float: right;
	background-color: #b2e281;
	border-radius: 8px;
}
/*用户会话div */
.chatter_msg_item.chatter_msg_item_admin:before {
	content: '';
	position: absolute;
	top: 15px;
	left: -12px;
	z-index: 10;
	border: 6px solid transparent;
	border-right-color: bisque;
}
/* 医生会话内容div */
.chatter_msg_item.chatter_msg_item_user:before {
	content: '';
	position:absolute;
	top: 15px;
	right: -12px;
	z-index: 10;
	border: 6px solid transparent;
	border-left-color: #b2e281;
}
/*接收的tupia样式  */
#talkImg{
	width: 150px;
	height: 150px;
}





















